{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
<h1 class="text-center pt-2">Liste des contacts</h1>
<div class="row">
{% for leContact in lesContacts %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 ">
        <div class="card mb-3">
                <h4 class="card-header">{{ leContact.nom}} {{leContact.prenom }}</h4>
                <img src="{{leContact.avatar}}" class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" style="font-size:1.125rem;text-anchor:middle">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ leContact.rue}}</li>
                <li class="list-group-item"{{ leContact.cp}}</li>
                <li class="list-group-item">{{ leContact.ville}}</li>
                <li class="list-group-item">{{ leContact.sexe}}</li>
                <li class="liste-groupe-item">
                    {% if leContact.sexe==0 %}
                        <span class="badge badge-info">homme</span>
                    {% else %}    
                        <span class="badge badge-info">femme</span>
                    {% endif %}
                </li>
                </ul>
                <div class="card-body">
                    <a href="{{path('app_contacts_controller', {'id': leContact.id })}}" class="btn btn-success btn-block text-center ">Détail ...</a>
                </div>  
            </div>
        </div>
{% endfor %}
</div>        
{% endblock %}
